.hero{
    position:relative;
    height:100vh;
    background:url(images/hero.jpg) center center/cover no-repeat;
    overflow:hidden;
}
.overlay{
    position:absolute;
    inset:0;
    background:
        linear-gradient ( 
             90deg,
        rgba(5,9,6,.90) 0%,
        rgba(5,9,6,.55) 40%,
        rgba(5,9,6,.20) 70%,
        rgba(5,9,6,.55) 100%);
}
.hero-content{
    position:relative;
    z-index:2;
    display:flex;
    aligh-items:center;
    height:100%;
}
.hero-text{
    max-width:560px;
}
.subtitle{
    color:#84df72;
    letter-spacing:4px;
    font-size:13px;
}
.hero h1{
    margin:20px 0;
    font-size:88px;
    line-height:0.95;
    font-family:Cormorant Garamond",serif;
    color:white;
}
.hero p{
    color:#ddd;
    line-height:1.8;
    font-size:18px;
    margin-bottom:35px;
}
.hero-button{
    display:inline-flex;
    align-items:center;
    gap:12px;
    background:#8ef270;
    color:#102110;
    padding:18px 36px;
    border-radius:50px;
    font-weight:700;
    text-decoration:none;
    transition:.3s;
}
.chibi-right{
    position:absolute;
    right:60px;
    top:90px;
    width:180px;
}
.chibi-left{
    position:absolute;
    left:-30px;
    bottom:-10px;
    width:170px;
}
    
